<div class="container">
  <table class="table table-hover table-striped ">
    <thead>
      <tr>
        <th>ユーザー 一覧</th>
        <th scope="col">入会日</th>
        <th scope="col">最終ログイン日</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <th scope="row"><%= link_to user.nick_name,user_path(user.id) %></th>
          <td><%= user.created_at.strftime('%Y年%m月%d日') %></td>
          <td><%= user.last_sign_in_at.try(:strftime,'%Y年%m月%d日 %H:%M') %></td>
          <% unless user.admin_flg? %>
            <td><%= link_to "削除", user_path(user.id), method: :delete,data: { confirm: "本当に削除しますか?" }, class: "delete_btn" %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      </tbody>
    <% end %> 
  </table>
</div>