
<div class="container">
  
<h2 class="text-center">
  <%= link_to "出品履歴", exhibition_history_user_path  %>
</h2>

<h2 class="text-center">
  <%= link_to "購入履歴", purchase_history_user_path  %>
</h2>

<%= link_to "もどる", products_path  %>

</div>