<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>

<div class="link_box">
	<div class="sell_btn_position">
		<%= link_to new_product_path, method: :get do %>
			<div class="sell_font">出品
			</div>
			  <%= fa_icon 'camera 4x', class: "sell_btn"%>
		<% end %>
	</div>
</div>

<%= link_to new_user_registration_path, method: :get do %>
    <i class="fa fa-user-plus fa-5x"></i> 新規登録
<% end %>

</footer>