.bg-color {
    background: #fff;
}
.login_nick_name{
	color: #5e78c1;
}

.input-group{
	top: 50px;
}

.input-group-btn{
	background: #ccc;
}

.logo_box{
	float: left;
}

.header_nav{
	height: 180px;
}

.logout,.profile,.mypage,.login,.sign_up,.exhibition_history{
	height: 30px;
	border-radius: 4px;
    text-align: center;
    line-height: 30px;
}

.mypage,.profile,.logout,.exhibition_history{
	background: rgb(82, 160, 171);
	    a{
		color: #fff;
	    }
}

.mypage:hover,.profile:hover,.logout:hover,.exhibition_history:hover{
	background: rgb(234, 53, 45);
	    a{
		color: #fff;
	    }
}

.login{
	background: rgb(234, 53, 45);
    a{
	color: #fff;
    }
}

.sign_up{
	background: #fff;
	color: #0099e8;
	border: 1px solid #0099e8;
}

.sign_up:hover{
	background-color:#0099e8;
	a{
	color: #fff;
	}
}
