.bg-dark {
    background: #fff;
}
.login_nick_name{
	color: #5e78c1;
}

.header_nav{
	height: 150px;
}

.header_login{
	background: rgb(234, 53, 45);
	width: 60px;
	height: 30px;
	border-radius: 4px;
    text-align: center;
    line-height: 30px;
    a{
	color: #fff;
    }
}

.header_sign_up{
	width: 120px;
	height: 30px;
	border-radius: 4px;
    text-align: center;
	display: block;
    border: 1px solid #0099e8;
    background: #fff;
    color: #0099e8;
    padding: 0px 16px;
    a:hover{
	color:#E48E00;
	text-decoration:underline;
	}
}