.bg-color {
    background: #fff;
}

.login_nick_name{
	font-size: 20px;
}

.input-group{
	top: 50px;
}

.input-group-btn{
	background: #ccc;
}

.logo_box{
	float: left;
}

.header_nav{
	height: 200px;
}

.logout,.profile,.mypage,.login,.sign_up,.user_list,.product_edit,.product_delete{
		height: 30px;
		border-radius: 4px;
    text-align: center;
    line-height: 30px;
    padding: 8px 30px;
    font-size: 15px;
    margin: 0 10px;
}

.mypage,.profile,.logout,.user_list,.sign_up,.product_edit,.product_delete{
  border: 1px solid #fc913a;
  border-color: #fc913a;
  background: #fff;
  color: #fc913a;
}

.mypage:hover,.profile:hover,.logout:hover,.user_list:hover,.sign_up:hover,.product_edit:hover,.product_delete:hover{
	background-color:#fc913a;
	color: #fff;
}
