/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Bootstrap Sass
@import "bootstrap-sprockets";
@import "bootstrap";

@charset "UTF-8";


/* SCSSファイルの読み込み */
// @import "reset";
@import "users";
@import "products";
@import "header";


/* CSS Document */

html, body {
	height: 100%;
}

/*共通*/
.form_btn_box{
    background: #ea352d;
    color: #fff;
}

.price_font{
    font-size: 50px;
    font-weight: 500;
}

.shipping_fee{
	font-size: 16px;
}

/*＿＿＿＿*/

.header-contents{
	box-sizing:border-box;
	max-width: 960px;
	margin: 0 auto;
	min-height: 100px;
	background-repeat: no-repeat;
	background-position: 10px 50%;
}
.header-contents h1,
.header-contents h2{
	margin: 0;
	color: #fff;
	line-height: 1;
}
.header-contents h1{
	padding: 30px 0 10px 85px;
	font-size: 24px;
}
.header-contents h2{
	padding: 0 0 0 85px;
	font-size: 14px;
	font-weight: normal;
}

footer{
	box-sizing:border-box;
	max-width: 960px;
	margin: 0 auto 10px auto;
	padding:15px 30px;
	background-color: #23628f;
	border: #dadada 1px solid;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 12px;
	text-align: right;
}
a{
	color: #5e78c1;
	text-decoration: none;
}
a:hover{
	color: #b04188;
	text-decoration: underline;
}


/*とりあえず小カテゴリーは最初消す*/
#firstBox, #secondBox, #thirdBox{
	display: none;
}

@media (max-width: 600px){
	header{
		background-position: 32% 50%;
		border-top: #20567d 5px solid;
	}
	.header-contents{
		min-height: 60px;
		background-size: 40px 40px;
		background-position: 10px 50%;
	}
	.header-contents h1{
		padding: 15px 0 5px 55px;
		font-size: 16px;
	}
	.header-contents h2{
		padding: 0 0 0 55px;
		font-size: 12px;
	}
}