// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: 500px;
    line-height: 1;
}

.search_btn{
    border-radius: 25px;
    width: 160px;
    margin: 0 0 30px 0;
    padding: 10px 0;
    background: #ff4e50;
    color: #fff;
    border: transparent 1px solid;
}

.search_name, .search_brand{
    width: 160px;
    border-radius: 25px;
}
.index_seach{
    margin: 15px 0;
}

.index_item_box{
    background: #fff;
    margin: 15px;
    padding: 0 0 30px 0;
    width: 230px;
}

.sold_out{
	color: #fff;
    position: absolute;
    transform: rotate(-45deg);
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 27px;
    z-index: 1;
    top: 20px;
    left: -120px;

}
.sold_out_back{
    position: absolute;
    z-index: 2;
	width: 0;
	height: 0;
	border-bottom: 120px solid transparent;
	border-left: 120px solid #ff4e50;
}

.sold_out_back_show{
    position: absolute;
    left: 15px;
    z-index: 2;
    width: 0;
    height: 0;
    border-bottom: 120px solid transparent;
    border-left: 120px solid #ff4e50;
}

.sold_out_btn{
    color: #fff; 
    background: #888;
    cursor: not-allowed;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    width: 620px;
    margin-bottom:30px;
    border-radius: 10px;
}

.buy_btn{
    color: #fff; 
    cursor: not-allowed;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    width: 620px;
    margin-bottom:30px;
    border-radius: 10px;
}

.back_btn {
  margin: 0px 30px 30px 30px;
  width: 590px !important;
}

.products_back_btn{
  margin-bottom: 30px; 
}

.require_form {    
    background: #ff4e50;
    margin:8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
}

.product_image {
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.detail_setting{
    margin:30px;
    width: 850px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: transparent solid;
    border-radius: 4px;
}

.pagination > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #ff4e50;
    background-color: #fff;
    border: 1px solid #fc913a;
    margin-left: -1px;
}
.pagination > li > a:hover {
    color:  #fff;
    background-color: #f9d423;
    border: 1px solid #fc913a;
}

.pagination > .active > a {
    z-index: 3;
    color: #fff;
    background-color: #ff4e50;
    border-color: #fc913a;
}

 .pagination > .active > a:hover{
    z-index: 3;
    color: #fff;
    background-color: #f9d423;
    border-color: #f9d423;
}

.products_table {
    border-collapse: collapse;
    table-layout: fixed;
}

.products_table th,.products_table td {
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    text-align: left;
}

.products_table th {
    background-color: #FFF;
}