// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* SCSSファイルの読み込み */

.field{
    width: 65%;
    margin: 0 auto;
}

.form_name_box1, .form_name_box2{
    width: 68%;
    margin: 0 auto;
    padding: 0 0 10px;
}

.product_image_purchase, {
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
}

.product_image_exhibition{
	padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 230px;
}

.sold_out_exhibition{
    position: absolute;
    left: 15px;
    z-index: 2;
    width: 0;
    height: 0;
    border-bottom: 120px solid transparent;
    border-left: 120px solid #ea352d;
}