
<h1>商品一覧</h1>

<% @products.each do |product| %>
<td><%= attachment_image_tag product, :thumbnail, :fill, 220, 220, format: 'jpeg' %></td>
<br>

<!-- 商品名 -->
<span><%=link_to product.name, product_path(product.id) %></span>
<br>
<span>¥<%=link_to product.price, product_path(product.id) %>(税込)</span>
<br>
<% end %>

<br>
<br>

